{
    "openapi": "3.1.0",
    "info": {
        "title": "Notica API",
        "version": "1.5.0",
        "description": "## * This API requires a Bearer token in the Authorization header for access."
    },
    "servers": [
        {
            "url": "https://api.noticapp.ir/v1"
        }
    ],
    "paths": {
        "\/api-keys": {
            "get": {
                "operationId": "Get All API Keys",
                "tags": [
                    "ApiKey"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Array of `Resource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "test"
                                                },
                                                "key": {
                                                    "type": "string",
                                                    "example": "test"
                                                },
                                                "company_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "Create API Key",
                "tags": [
                    "ApiKey"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "title"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key created successfully."
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "api key"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unprocessable entity."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api-keys\/{id}": {
            "get": {
                "operationId": "Show API Key",
                "tags": [
                    "ApiKey"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "`Resource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "test"
                                                },
                                                "key": {
                                                    "type": "string",
                                                    "example": "test"
                                                },
                                                "company_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "example": "2022-01-01T00:00:00+00:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "Delete API Key",
                "tags": [
                    "ApiKey"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key deleted successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api-keys\/{id}\/restore": {
            "patch": {
                "operationId": "Restore API Key",
                "tags": [
                    "ApiKey"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key restored successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "api key not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/auth\/check-phone": {
            "post": {
                "operationId": "Send Phone Verification Code",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "format": "phone",
                                        "example": "09xxxxxxxxx"
                                    }
                                },
                                "required": [
                                    "phone"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "verification code not sent."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "sms not sent."
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "verification code sent to phone number"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "09xxxxxxxxx"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "phone number not valid."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/auth\/verify-phone": {
            "post": {
                "operationId": "Verify Phone Verification Code",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "format": "phone",
                                        "example": "09xxxxxxxxx"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "phone verified successfully"
                                        },
                                        "auth": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "bearer"
                                                },
                                                "token": {
                                                    "type": "string"
                                                },
                                                "expires_at": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "wrong code"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unprocessable entity."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/auth\/logout": {
            "post": {
                "operationId": "Logout User",
                "tags": [
                    "Auth"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/auth\/me": {
            "post": {
                "description": "Get user data",
                "operationId": "Get User",
                "tags": [
                    "Auth"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "uuid": {
                                            "type": "string",
                                            "example": "a0a0a0a0-a0a0-a0a0-a0a0-a0a0a0a0a0a0"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "example": "John"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "example": "Doe"
                                        },
                                        "phone": {
                                            "type":"string",
                                            "example": "09xxxxxxxxx"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "email@example.com"
                                        },
                                        "job_title": {
                                            "type": "string",
                                            "example": "Developer"
                                        },
                                        "national_id": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "gender": {
                                            "type": "string",
                                            "example": "male"
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "user"
                                        },
                                        "phone_verified_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "email_verified_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "birthdate": {
                                            "type": "string",
                                            "example": "2020-01-01"
                                        },
                                        "telegram_id": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "settings": {
                                            "type": "object",
                                            "example": {
                                                "theme": "light"
                                            }
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/companies": {
            "get": {
                "operationId": "Get All Companies",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Array of `Resource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Company Name"
                                                },
                                                "logo": {
                                                    "type": "string",
                                                    "example": "https:\/\/example.com\/company-logo.png"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Company Description"
                                                },
                                                "website": {
                                                    "type": "string",
                                                    "example": "https:\/\/example.com"
                                                },
                                                "slogan": {
                                                    "type": "string",
                                                    "example": "Slogan"
                                                },
                                                "owner": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "09xxxxxxxxx"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "email@example.com"
                                                },
                                                "national_id": {
                                                    "type": "string",
                                                    "example": "1234567890"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Address"
                                                },
                                                "established_date": {
                                                    "type": "string",
                                                    "example": "2020-01-01"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2020-01-01 00:00:00"
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "plan_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "settings": {
                                                    "type": "object",
                                                    "example": {
                                                        "theme": "light"
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2020-01-01 00:00:00"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2020-01-01 00:00:00"
                                                },
                                                "deleted_at": {
                                                    "type": "string",
                                                    "example": "2020-01-01 00:00:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "Create Company",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Company Name"
                                    },
                                    "logo": {
                                        "type": "string",
                                        "example": "https:\/\/example.com\/company-logo.png"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Company Description"
                                    },
                                    "website": {
                                        "type": "string",
                                        "example": "https:\/\/example.com"
                                    },
                                    "slogan": {
                                        "type": "string",
                                        "example": "Slogan"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "09xxxxxxxxx"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "email@example.com"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Address"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "example": "2020-01-01"
                                    },
                                    "email_verified_at": {
                                        "type": "string",
                                        "example": "2020-01-01 00:00:00"
                                    },
                                    "settings": {
                                        "type": "object",
                                        "example": {
                                            "theme": "light"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "address"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company {company name} created successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "move prosess failed. image {logo} not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unprocessable entity."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "please complete your profile first."
                                                },
                                                "data": {
                                                    "type": "string",
                                                    "example": "nessery fields are missing."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "you are already an owner of a company."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "unauthorized."
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/companies\/trash": {
            "get": {
                "description": "### Only admin can access this route.",
                "operationId": "Get All Companies in Trash",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "items": {

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/companies\/with-trash": {
            "get": {
                "description": "### Only admin can access this route.",
                "operationId": "Get All Companies with Trash",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Array of `Resource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/companies\/{id}": {
            "get": {
                "operationId": "Get a Company",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "`Resource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Company Name"
                                        },
                                        "logo": {
                                            "type": "string",
                                            "example": "https:\/\/example.com\/company-logo.png"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Company Description"
                                        },
                                        "website": {
                                            "type": "string",
                                            "example": "https:\/\/example.com"
                                        },
                                        "slogan": {
                                            "type": "string",
                                            "example": "Slogan"
                                        },
                                        "owner": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "09xxxxxxxxx"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "email@example.com"
                                        },
                                        "national_id": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "address": {
                                            "type": "string",
                                            "example": "Address"
                                        },
                                        "established_date": {
                                            "type": "string",
                                            "example": "2020-01-01"
                                        },
                                        "email_verified_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "plan_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "settings": {
                                            "type": "object",
                                            "example": {
                                                "theme": "light"
                                            }
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "example": "2020-01-01 00:00:00"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "Update a Company",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The company ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "Bearer token",
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Company Name"
                                    },
                                    "logo": {
                                        "type": "string",
                                        "example": "https:\/\/example.com\/company-logo.png"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Company Description"
                                    },
                                    "website": {
                                        "type": "string",
                                        "example": "https:\/\/example.com"
                                    },
                                    "slogan": {
                                        "type": "string",
                                        "example": "Slogan"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "09xxxxxxxxx"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "email@example.com"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Address"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "example": "2020-01-01"
                                    },
                                    "email_verified_at": {
                                        "type": "string",
                                        "example": "2020-01-01 00:00:00"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "plan_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "settings": {
                                        "type": "object",
                                        "example": {
                                            "theme": "light"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company updated successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "move prosess failed. image {logo} not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "permission denied."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unprocessable entity."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "### Only admin can access this route.",
                "operationId": "Delete a Company",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The company ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company deleted successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company not found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/companies\/{id}\/restore": {
            "patch": {
                "description": "### Only admin can access this route.",
                "operationId": "Restore a Company",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "Bearer {token}"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "server error 500."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company restored successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "company not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
[...]
